*/bin/Debug
*/obj/Debug
commandPattern.Tests/obj
packages
.vscode
commandPattern/obj/designPattern.csproj.nuget.cache
commandPattern.Tests/obj/Debug/netcoreapp3.0/commandPattern.Tests.csprojAssemblyReference.cache
commandPattern/obj/designPattern.csproj.nuget.cache
commandPattern/obj/designPattern.csproj.nuget.dgspec.json
commandPattern/obj/designPattern.csproj.nuget.g.props
commandPattern/obj/designPattern.csproj.nuget.g.targets
commandPattern/obj/project.assets.json
commandPattern/obj/Debug/netcoreapp3.0/designPattern.AssemblyInfo.cs
commandPattern/obj/Debug/netcoreapp3.0/designPattern.csproj.CoreCompileInputs.cache
commandPattern.Tests/obj/commandPattern.Tests.csproj.nuget.cache
commandPattern.Tests/obj/commandPattern.Tests.csproj.nuget.dgspec.json
commandPattern.Tests/obj/commandPattern.Tests.csproj.nuget.g.props
commandPattern.Tests/obj/commandPattern.Tests.csproj.nuget.g.targets
commandPattern.Tests/obj/project.assets.json
commandPattern.Tests/obj/Debug/netcoreapp3.0/commandPattern.Tests.AssemblyInfo.cs
commandPattern.Tests/obj/Debug/netcoreapp3.0/commandPattern.Tests.csproj.CoreCompileInputs.cache
